.profile {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-top: 40px;

  background-color: #fff;
  color: rgb(143, 143, 143);

  text-align: center;
  border-radius: 5px;
}
.user {
  display: block;
  /* flex-direction: column; */
  line-height: 2;
  margin-bottom: 20px;
}
.userImg {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 1px solid black;
}
.userName {
  font-weight: 900;
  font-size: larger;
  color: black;
}
.profileList {
  display: flex;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
  border: 1px solid rgb(172, 172, 172);

  background-color: #b4dde9;

  margin-left: auto;
  margin-right: auto;
}
.profileListItem {
  padding: 15px;

  display: flex;
  flex-direction: column;
  width: 100%;
}
.profileListItem:first-child {
  border-right: 1px solid rgb(172, 172, 172);
}
.profileListItem:last-child {
  border-left: 1px solid rgb(172, 172, 172);
}
.desc {
  color: black;
  font-size: large;
  font-weight: 700;
}
